{
  "extends": "airbnb/legacy",
  "rules": {
    "func-names": ["error", "never"],
    "indent": [2, "tab"],
    "no-tabs": 0,
    "no-param-reassign": ["error", { "props": false }]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}