$biz-card-color-purple: #925bd6;
$biz-card-color-title: #bbb;
$biz-card-color-content: #eee;

.biz-card-container {
	height: 325px;
	margin: 50px auto;
	max-width: 500px;
	padding: 20px;
	width: 100%;
}

.biz-card {
	color: $white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	perspective: 1000px;
	position: relative;

	input[type="checkbox"] + label::before,
	input[type="checkbox"] + label::after {
		display: none;
	}

	input[type="checkbox"]:not(:checked) + label,
	input[type="checkbox"]:checked + label {
		border: none;
		position: absolute;
	}

	a {
		color: $biz-card-color-purple;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: rgba($biz-card-color-purple, 0.8);
		}
	}

	.biz-card__container,
	.biz-card__front,
	.biz-card__back {
		font-size: 14px;
		height: 325px;
		left: 0;
		max-width: 500px;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.biz-card__trigger {
		display: none;
	}

	.biz-card__container {
		position: relative;
		transform-style: preserve-3d;
		transition: transform 500ms, box-shadow 500ms;
	}

	.biz-card__trigger + label {
		cursor: pointer;
		height: 50px;
		padding: 15px;
		position: absolute;
		right: 0;
		top: 0;
		transition: background 0.3s;
		width: 50px;
		z-index: 10;
	}

	.biz-card__faux-trigger--front,
	.biz-card__faux-trigger--back {
		padding: 15px;
		position: absolute;
		right: 0;
		top: 0;
		transition: background 0.3s;
		z-index: 10;
	}

	.biz-card__faux-trigger--back {
		background-color: rgba($black, 0.5);
	}

	.biz-card__trigger ~ .biz-card__container:hover,
	.biz-card__label:hover + .biz-card__container {
		box-shadow: 0 10px 10px 3px rgba($black, 0.25);
		transform: rotateX(15deg);
	}

	.biz-card__trigger:checked ~ .biz-card__container:hover,
	.biz-card__trigger:checked ~ .biz-card__label:hover + .biz-card__container {
		box-shadow: 0 10px 10px 3px rgba($black, 0.25);
		transform: rotateX(160deg);
	}

	.biz-card__trigger:checked ~ .biz-card__container {
		transform: rotateX(180deg);
	}

	.biz-card__front {
		backface-visibility: hidden;
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/178921/bg2.png);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 20px;
		transform: rotateY(0deg);
		z-index: 2;
	}

	.biz-card__back {
		align-items: flex-end;
		backface-visibility: hidden;
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/178921/biz-card.png);
		display: flex;
		justify-content: flex-end;
		text-align: right;
		transform: rotateX(180deg);
	}

	.biz-card__name {
		margin-bottom: 0;
	}

	.biz-card__title {
		color: $biz-card-color-title;
		font-size: 14px;
	}

	.biz-card__content {
		color: $biz-card-color-content;
		line-height: 1.3;
	}

	.biz-card__email,
	.biz-card__website {
		display: inline-block;
		margin-top: 20px;
	}

	.biz-card__email {
		margin-right: 30px;
	}

	.biz-card__bottom {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.biz-card__left-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.biz-card__left-logo {
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/178921/enc2.png);
		height: 46px;
		margin-right: 10px;
		width: 46px;
	}

	.biz-card__right-menu {
		align-items: center;
		display: flex;
		justify-content: space-between;
		list-style: none;
	}

	.biz-card__right-menu li {
		margin-right: 20px;
	}

	.biz-card__github,
	.biz-card__twitter {
		display: block;
		height: 38px;
		width: 38px;
	}

	.biz-card__twitter {
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/178921/twitter.png);
	}

	.biz-card__github {
		background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/178921/github2.png);
	}

	.biz-card__back--name {
		background-color: rgba($black, 0.8);
		margin: 0 15px 15px 0;
		padding: 5px 10px;
	}
}

