//--------------------------------------------------------------
// BUTTON RESETS
//--------------------------------------------------------------
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button,
.button {
	-webkit-appearance: none;
	background: none;
	border: none;
	display: inline-block;
	outline: 0;
	padding: 0;
	text-decoration: none;
}

//--------------------------------------------------------------
// BASE
//--------------------------------------------------------------
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
a.button,
.button {
	background-color: $gray-4;
	border-radius: 2px;
	color: $white;
	cursor: pointer;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 10px 16px;
	text-transform: uppercase;
	transition: background-color 0.3s ease-out;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
a.button:hover,
.button:hover {
	background-color: $gray-2;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
a.button:active,
.button:active {
	background-color: $black-1;
}

// Small button.
.button-sm {
	font-size: 13px;
	padding: 7px 16px;
}

// Medium (default) button.
.button-md {
	padding: 10px 16px;
}

// Large button.
.button-lg {
	font-size: 15px;
	padding: 15px 16px;
}

h3 {
	font-family: "Roboto", sans-serif;
}