//--------------------------------------------------------------
// IMAGE GALLERY
//--------------------------------------------------------------

.gallery {
	margin: 50px auto;
	max-width: 915px;

	img {
		height: auto;
		width: 100%;

		@media screen and (min-width: $desktop) {
			min-height: 90px;
		}
	}

	input[type="radio"] + label::before,
	input[type="radio"] + label::after {
		display: none;
	}

	input[type="radio"]:not(:checked) + label,
	input[type="radio"]:checked + label {
		height: auto;
		padding: 0;
		width: auto;

		@media screen and (min-width: $desktop) {
			height: 100px;
			width: 150px;
		}
	}

	.gallery__container {
		position: relative;

		@media screen and (min-width: $desktop) {
			height: 608px;
			width: 915px;
		}
	}

	.gallery__list {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			width: 20%;

			&:last-child {

				.gallery__label {
					margin-right: 0;
				}
			}

			@media screen and (min-width: $desktop) {
				width: auto;
			}
		}
	}

	.gallery__label {
		cursor: pointer;
		display: block;
		height: 100px;
		margin-right: 3px;
		position: relative;
		width: 150px;
		z-index: 10;

		@media screen and (min-width: $desktop) {
			border: 5px solid $blue-2;
			margin-right: 0;
		}
	}

	.gallery__label img {

		@media screen and (min-width: $desktop) {
			min-height: 90px;
		}
	}

	.gallery__label::before {
		background-color: rgba($black, 0.5);
		content: "";
		display: block;
		height: 93px;
		left: 0;
		position: absolute;
		top: 0;
		transition: background 0.5s;
		width: 100%;
	}

	.gallery__image {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity 0.5s;
	}


	.gallery__image img {
		height: auto;
		width: 100%;

		@media screen and (min-width: $desktop) {
			min-height: 608px;
		}
	}

	input[name="gallery"] {
		display: none;
	}

	input[name="gallery"]:checked ~ .gallery__label::before {
		background-color: transparent;
	}

	input[name="gallery"]:checked ~ .gallery__image {
		opacity: 1;
	}
}