//--------------------------------------------------------------
// JSON Validator
//--------------------------------------------------------------
.validator {
	margin: 0 auto;
	max-width: 550px;

	&__input {
		margin-bottom: 20px;
	}

	&__util-bar {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	pre {
		background: $gray-3;
		padding: 0 10px;
	}
}