//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------
$gray-1: #f2f2f2;
$gray-2: #525252;
$gray-3: #ecf0f1;
$gray-4: #b6b6b6;
$gray-5: #677077;

$white: #fff;
$black: #000;
$black-1: #212121;

$blue: #303f9f;
$blue-2: #34495e;

$purple-light: #c5cae9;

$orange: #ff5722;

// Product Listing
$color-product-blue: #252839;
$color-product-yellow: #f2b632;