//--------------------------------------------------------------
// Drag-n-Drop
//--------------------------------------------------------------
.drag-n-drop {
	padding-bottom: 0;

	&__spot {

		&--falling {
			animation: 1s ease-out falling;
		}
	}
}

//--------------------------------------------------------------
// Animations
//--------------------------------------------------------------
@keyframes falling {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(200%);
	}
}