//--------------------------------------------------------------
// Base Resets
//--------------------------------------------------------------
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color:  $gray-1;
	color: $gray-2;
	font-family: "Roboto", sans-serif;
	height: 100%;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0 0 50px 0;
	vertical-align: baseline;
}

.clearfix::before,
.clearfix::after {
	content: " ";
	display: table;
}

.clearfix::after {
	clear: both;
}

//--------------------------------------------------------------
// PAGE CONTENT
//--------------------------------------------------------------
.page-content {
	padding: 50px 20px;
	width: 100%;

	&__960 {
		margin: 0 auto;
		max-width: 960px;
	}
}

.home.page-content {
	max-width: 100%;
	padding: 0 42px 42px;
	width: 100%;
}

.container {
	margin: 25px auto 0;
	max-width: 1400px;
	padding: 0 42px;
	width: 100%;
}

//--------------------------------------------------------------
// Form Container
//--------------------------------------------------------------
.form-container {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba($black, 0.16), 0 2px 10px 0 rgba($black, 0.12);
	margin: 25px auto;
	padding: 32px 20px 45px;
	width: 100%;

	@media screen and (min-width: $tablet) {
		margin: 50px auto;
		max-width: 630px;
	}
}

.body-content-header {
	background-color: $blue;
	color: $white;
	height: 90px;
}

//--------------------------------------------------------------
// Body Content
//--------------------------------------------------------------
.content {
	background: $white;
	min-height: 100vh;
	width: 100%;
}

.body-content-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 42px;
}

.body-content-h1 {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 20px 0;
}

.body-content-header h3 {
	color: $purple-light;
	font-weight: 300;
}

//--------------------------------------------------------------
// PAGE GLOBALS
//--------------------------------------------------------------
.page-hero {
	align-items: center;
	background-color: $blue-2;
	border-bottom: 1px solid $white;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	text-align: center;
}

.page-hero h1,
.page-hero-content h1 {
	color: $gray-3;
	font-size: 36px;
	margin-bottom: 30px;
	margin-top: 0;
	position: relative;

	@media screen and (min-width: $tablet) {
		font-size: 40px;
	}

	@media screen and (min-width: $desktop) {
		font-size: 48px;
	}
}

.page-hero h1::before {
	background-color: $gray-3;
	bottom: -10px;
	content: "";
	display: block;
	height: 1px;
	left: 15%;
	position: absolute;
	width: 70%;
}

.page-hero h3 {
	color: $white;
	font-weight: 300;
	margin-top: 5px;
}

// Hero link.
.page-hero-home-link {
	color: $gray-3;
	display: block;
	font-size: 24px;
	padding-left: 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}