/* Basic Resets */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color:  #f2f2f2;
	color: #525252;
	font-family: "Roboto", sans-serif;
	height: 100%;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0 0 50px 0;
	vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/* Page globals */


/* Page Content */
.page-content {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 25px;
	width: 100%;
}

.home.page-content {
	max-width: 100%;
	padding: 0 42px 42px;
	width: 100%;
}

.container {
	margin: 25px auto 0;
	max-width: 1400px;
	padding: 0 42px;
	width: 100%;
}

/* Default form container styles */
.form-container {
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	max-width: 630px;
	margin: 50px auto;
	padding: 32px 32px 45px;
	width: 100%;
}

.body-content-header {
	background-color: #303F9F;
	color: #ffffff;
	height: 90px;
}

/* Body Content */
.content {
	background: #ffffff;
	min-height: 100vh;
	width: 100%;
}

.body-content-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 42px;
}

.body-content-h1 {
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 20px 0;
}

.body-content-header h3 {
	color: #C5CAE9;
	font-weight: 300;
}

//--------------------------------------------------------------
// PAGE GLOBALS
//--------------------------------------------------------------
/* Default hero styles */
.page-hero {
	align-items: center;
	background-color: #34495e;
	border-bottom: 1px solid #ffffff;
	display: flex;
	flex-direction: column;
	height: 250px;
	justify-content: center;
	text-align: center;
}

/* Hero h1 */
.page-hero h1,
.page-hero-content h1 {
	color: #ecf0f1;
	font-size: 48px;
	margin-bottom: 30px;
	margin-top: 0;
	position: relative;
}

.page-hero h1:before {
	background-color: #ecf0f1;
	bottom: -10px;
	content: '';
	display: block;
	height: 1px;
	left: 15%;
	position: absolute;
	width: 70%;
}

.page-hero h3 {
	color: #ffffff;
	font-weight: 300;
	margin-top: 5px;
}

/* Hero link */
.page-hero-home-link {
	color: #ecf0f1;
	font-size: 24px;
	display: block;
	padding-left: 30px;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}

.page-hero-home-link:before {
	background: url(/images/arrow-left.svg) no-repeat center center;
	background-size: 20px;
	content: '';
	display: block;
	height: 20px;
	left: 0;
	position: absolute;
	top: 10px;
	transition: left 0.2s ease;
	width: 20px;
}

.page-hero-home-link:hover:before {
	left: -2px;
}