//--------------------------------------------------------------
// HERO
//--------------------------------------------------------------
.hero {
	align-items: center;
	background: $blue-2;
	border-bottom: 1px solid $white;
	color: $white;
	display: flex;
	height: 400px;
	justify-content: center;
}

.hero-quote {
	font-size: 48px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0;
}

cite {
	float: right;
	margin-top: 0;
}

//--------------------------------------------------------------
// COURSE SECTIONS
//--------------------------------------------------------------
.course-section-content::after {
	clear: both;
	content: "";
	display: table;
}

.course-section-header {
	color: $black-1;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
}

.course-section-header h2 {
	font-size: 30px;
	font-weight: 700;
	margin: 0;
}

//--------------------------------------------------------------
// Cards
//--------------------------------------------------------------
.cards {
	margin-top: 20px;
}

.card {
	background: $white;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba($black, 0.16), 0 2px 10px 0 rgba($black, 0.12);
	float: left;
	margin-bottom: 20px;
	margin-right: 1.65%;
	min-height: 300px;
	padding: 10px;
	width: 23.76%;
}

.card:nth-child(4n+4) {
	margin-right: 0;
}

.card a {
	color: $black-1;
	text-decoration: none;
}

//--------------------------------------------------------------
// ICONS
//--------------------------------------------------------------
.icon-container {
	height: 200px;
	padding-top: 30px;
	text-align: center;
}

.icon-container .icon {
	-webkit-backface-visibility: hidden;
	fill: $orange;
	max-width: 130px;
	transition: fill 0.225s ease;
	width: 100%;
}

.card a:hover .icon {
	fill: lighten($orange, 15%);
}

.card-footer {
	text-align: center;
}

.card-footer h4 {
	font-size: 20px;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
}

.card-footer h6 {
	color: $gray-2;
	font-size: 16px;
	margin: 0;
}