.login {
	.page-hero {
		background-color: $blue;
	}

	/* Check box */
	input[type="checkbox"]:not(:checked) + label:before,
	input[type="checkbox"]:not(:checked) + label:after,
	input[type="checkbox"]:checked + label:before,
	input[type="checkbox"]:checked + label:after {
		border-color: $blue;
	}

	input[type="checkbox"]:checked + label:after {
		background-color: $blue;
	}

	/* Submit button */
	input[type="submit"] {
		background-color: $blue;
		color: $white;
	}

	input[type="submit"]:hover,
	input[type="submit"]:focus {
		background-color: $blue;
	}

	.validation-message {
		background-color: $blue;
		color: $white;
		display: none;
		padding: 0 10px;
	}
}